#parent {
  display: flex;
}
#narrow {
  width: 40%;
  margin-left:auto;
  margin-right:auto;
  /* Just so it's visible */
}
#photo {
  margin-bottom: 10px;
}
#info {
  height: 39vh;
  background: #fff;
}
#wide {
  flex: 1;
}
.jumbotron {
  background-color: rgba(221,221,221);
}

img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}
